# Series

One-dimensional ndarray with axis labels.

## Create A `Series` Object

In [1]:
import numpy as np
import pandas as pd

**From a List**

If we are not specifying index label, by default it will start from 0. pandas supports non-unique index values. If an operation that does not support duplicate index values is attempted, an exception will be raised at that time.

In [2]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

We can pass index label manually.

In [3]:
lottery = [4, 8, 15, 16, 23, 42]
pd.Series(lottery, index=['a', 'b', 'c', 'd', 'e', 'f'])

a     4
b     8
c    15
d    16
e    23
f    42
dtype: int64

We can also specify data types.

In [4]:
ls = [True, False, False, False, True]
pd.Series(ls, dtype=str)

0     True
1    False
2    False
3    False
4     True
dtype: object

In [5]:
pd.Series

pandas.core.series.Series

**From a Dictionary**

If we are not passing index label manually, keys will be as index value.

In [6]:
data = {'b': 1, 'a': 0, 'c': 2}

sr = pd.Series(data)
sr

b    1
a    0
c    2
dtype: int64

If an index is passed, the values in data corresponding to the labels in the index will be pulled out.

In [7]:
pd.Series(data, index=['b', 'c', 'd', 'a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

There is no value correspond to d key, so it is assigned NaN value. Rest values are pulled out from dictionary.

**From Scalar value**

Index label must be provided in this case and the same scalar value will be repeated till the length of index lable. We can also assign a name to the Series.

In [8]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'e'], name='Scalar Series')

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
Name: Scalar Series, dtype: float64

**From a tuple**

In [9]:
tup = ('a', 'b', 'c', 'd')
pd.Series(tup)

0    a
1    b
2    c
3    d
dtype: object

## Import `Series` with the `read_csv` Method

In [10]:
pokemon = pd.read_csv("Pokemon.csv", usecols = ["Name"])
pokemon

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]

In [11]:
type(pokemon)

pandas.core.frame.DataFrame

<code>squeeze</code> parameter converts it to Series object.

In [12]:
google = pd.read_csv("Google_Stock_Price.csv", usecols=['Open'], squeeze = True)
google

0       325.25
1       331.27
2       329.83
3       328.34
4       322.04
         ...
1253    790.90
1254    790.68
1255    793.70
1256    783.33
1257    782.75
Name: Open, Length: 1258, dtype: float64

In [13]:
type(google)

pandas.core.series.Series

In [14]:
pokemon = pd.read_csv("Pokemon.csv", usecols = ["Name"], squeeze=True)

## Series Attributes

**Series value**

In [15]:
google.values

array([325.25, 331.27, 329.83, ..., 793.7 , 783.33, 782.75])

**Index**

In [16]:
google.index

RangeIndex(start=0, stop=1258, step=1)

**Data Type**

In [17]:
google.dtype

dtype('float64')

**Shape**

In [18]:
google.shape

(1258,)

**Size**

In [19]:
google.size

1258

**Name**

In [20]:
google.name = 'Google Stock Price'

In [21]:
google.name

'Google Stock Price'

**is_unique**

In [22]:
google.is_unique

False

## The `.head()` and `.tail()` Methods

In [23]:
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Name, dtype: object

In [24]:
google.tail(3)

1255    793.70
1256    783.33
1257    782.75
Name: Google Stock Price, dtype: float64

## Python Built-In Functions

In [25]:
# Length of the Series
len(google)

1258

In [26]:
# Type of an object
type(pokemon)

pandas.core.series.Series

In [27]:
# Sort series value in their ascending or alphabetic order and return a copy of the data as a list
sorted(pokemon)[0:10]

['Abomasnow',
 'AbomasnowMega Abomasnow',
 'Abra',
 'Absol',
 'AbsolMega Absol',
 'Accelgor',
 'AegislashBlade Forme',
 'AegislashShield Forme',
 'Aerodactyl',
 'AerodactylMega Aerodactyl']

In [28]:
sorted(google)[0:10]

[279.12, 279.6, 279.81, 280.26, 280.33, 281.89, 282.5, 282.61, 282.79, 282.94]

In [29]:
max(pokemon)

'Zygarde50% Forme'

In [30]:
min(pokemon)

'Abomasnow'

In [31]:
max(google)

816.68

In [32]:
min(google)

279.12

## The `.sort_values()` Method

In [33]:
# sort series value in ascending order by default if not specified
pokemon.sort_values().head()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
Name: Name, dtype: object

In [34]:
pokemon.sort_values(ascending = False).tail()

393            AbsolMega Absol
392                      Absol
68                        Abra
511    AbomasnowMega Abomasnow
510                  Abomasnow
Name: Name, dtype: object

In [35]:
google.sort_values(ascending = False).head(3)

1211    816.68
1214    808.35
1212    806.34
Name: Google Stock Price, dtype: float64

It does not affect the original series.

In [36]:
google.head(3)

0    325.25
1    331.27
2    329.83
Name: Google Stock Price, dtype: float64

## The `inplace` Parameter

<code>inplace=</code> parameter make the change in original data.

In [37]:
google.head(3)

0    325.25
1    331.27
2    329.83
Name: Google Stock Price, dtype: float64

One way is to make the changes by re-assigning the same variable.

In [38]:
google = google.sort_values()

In [39]:
google.head(3)

114    279.12
113    279.60
112    279.81
Name: Google Stock Price, dtype: float64

Second way is to use inplace parameter without re-assignment.

In [40]:
google.sort_values(ascending = False, inplace = True)

In [41]:
google.head(3)

1211    816.68
1214    808.35
1212    806.34
Name: Google Stock Price, dtype: float64

## The `.sort_index()` Method

In [42]:
pokemon.sort_values(ascending = True, inplace = True)

In [43]:
pokemon.head()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
Name: Name, dtype: object

Here the index value is changed in order to series value.

In [44]:
pokemon.sort_index(ascending = True, inplace = True)

In [45]:
pokemon.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

## Python's `in` Keyword

In [46]:
pokemon.head(5)

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [47]:
pokemon.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            790, 791, 792, 793, 794, 795, 796, 797, 798, 799],
           dtype='int64', length=800)

In [48]:
100 in pokemon

True

In [49]:
100 in pokemon.index

True

In [50]:
"Digimon" in pokemon.values

False

In [51]:
934 in pokemon

False

## Extract Values by Index Position

In [52]:
pokemon.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [53]:
pokemon[1]

'Ivysaur'

In [54]:
pokemon[[100, 200, 300]]

100      Haunter
200    Sudowoodo
300      Swellow
Name: Name, dtype: object

In [55]:
pokemon[10:21]

10                  Wartortle
11                  Blastoise
12    BlastoiseMega Blastoise
13                   Caterpie
14                    Metapod
15                 Butterfree
16                     Weedle
17                     Kakuna
18                   Beedrill
19      BeedrillMega Beedrill
20                     Pidgey
Name: Name, dtype: object

In [56]:
pokemon[:10]

0                    Bulbasaur
1                      Ivysaur
2                     Venusaur
3        VenusaurMega Venusaur
4                   Charmander
5                   Charmeleon
6                    Charizard
7    CharizardMega Charizard X
8    CharizardMega Charizard Y
9                     Squirtle
Name: Name, dtype: object

In [57]:
pokemon[-10:]

790                 Noibat
791                Noivern
792                Xerneas
793                Yveltal
794       Zygarde50% Forme
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, dtype: object

In [58]:
pokemon[-20 : -10]

780    PumpkabooAverage Size
781      PumpkabooSmall Size
782      PumpkabooLarge Size
783      PumpkabooSuper Size
784    GourgeistAverage Size
785      GourgeistSmall Size
786      GourgeistLarge Size
787      GourgeistSuper Size
788                 Bergmite
789                  Avalugg
Name: Name, dtype: object

### <code>.iloc[]</code>

In [59]:
pokemon.iloc[2]

'Venusaur'

In [60]:
pokemon.iloc[2:7]

2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
5               Charmeleon
6                Charizard
Name: Name, dtype: object

## Extract Values by Index Label

In [61]:
sr = pd.Series(range(5), index=['a', 'b', 'c', 'd', 'e'])
sr.head(3)

a    0
b    1
c    2
dtype: int64

In [62]:
sr['b']

1

In [63]:
sr[['a', 'c']]

a    0
c    2
dtype: int64

In [64]:
sr[['b', 'd', 'e']]

b    1
d    3
e    4
dtype: int64

In [65]:
sr['c' : 'e']

c    2
d    3
e    4
dtype: int64

### <code>.loc[]</code>

In [66]:
sr.loc['b']

1

In [67]:
sr.loc['c':'e']

c    2
d    3
e    4
dtype: int64

## The <code>.append()</code> Method

In [68]:
sr1 = pd.Series([5, 6, 7], index=['f', 'g', 'h'])
sr1

f    5
g    6
h    7
dtype: int64

In [69]:
sr.append(sr1)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
dtype: int64

In [72]:
ser1 = pd.Series(['b', 'c', 'd'])
ser1

0    b
1    c
2    d
dtype: object

In [73]:
ser2 = pd.Series(['e', 'f', 'g', 'h'])
ser2

0    e
1    f
2    g
3    h
dtype: object

In [74]:
ser1.append(ser2)

0    b
1    c
2    d
0    e
1    f
2    g
3    h
dtype: object

Here index label is inherited from respective series. To reset the index label, change <code>ignore_index=</code> parameter to True. It will assign a new index label by default.

In [75]:
ser1.append(ser2, ignore_index=True)

0    b
1    c
2    d
3    e
4    f
5    g
6    h
dtype: object

## The `.get()` Method on a `Series`

In [76]:
sr = pd.Series(list('abcde'))
sr.head(3)

0    a
1    b
2    c
dtype: object

In [77]:
sr.get(key = [0, 2])

0    a
2    c
dtype: object

In [78]:
sr.get(key = [0, 3, 4], default = 'No alphabet exists')

0    a
3    d
4    e
dtype: object

In [79]:
sr.get(key = [0, 3, 4, 6], default = 'Value Not Found!')

'Value Not Found!'

## Math Methods on `Series` Objects

In [80]:
google.head(3)

1211    816.68
1214    808.35
1212    806.34
Name: Google Stock Price, dtype: float64

In [81]:
google.sort_index(inplace=True)
google.head()

0    325.25
1    331.27
2    329.83
3    328.34
4    322.04
Name: Google Stock Price, dtype: float64

In [82]:
# Return number of non-NA/null observations in the Series
google.count()

1258

In [83]:
# Length of the a series
len(google)

1258

In [84]:
# Returns the sum of the values
google.sum()

671406.97

In [85]:
# Returns the mean of the values
google.mean()

533.7098330683625

In [86]:
# Returns sample standard deviation
google.std()

151.90444191569622

In [87]:
# Returns the minimum of the values
google.min()

279.12

In [88]:
# Returns the maximum of the values
google.max()

816.68

In [89]:
# Returns the median of the values
google.median()

537.47

In [90]:
# Return the mode(s) of the dataset.
google.mode()

0    306.35
1    780.00
dtype: float64

In [91]:
google.dropna()

0       325.25
1       331.27
2       329.83
3       328.34
4       322.04
         ...
1253    790.90
1254    790.68
1255    793.70
1256    783.33
1257    782.75
Name: Google Stock Price, Length: 1258, dtype: float64

## Other Useful <code>Series</code> Methods

    .drop()                # Return Series with specified index labels removed.
    .drop_duplicates()     # Return Series with duplicate values removed.
    .fillna()              # Fill NA/NaN values using the specified method.
    .isin()                # Check whether `values` are contained in Series.
    .isna()                # Detect missing values.
    .isnull()              # Detect missing values.
    .nunique()             # Return number of unique elements in the object.
    .rename()              # Alter Series index labels or name.
    .rename_axis()         # Set the name of the axis for the index or columns.
    .replace()             # Replace values given in `to_replace` with `value`.
    .reset_index()         # Generate a new DataFrame or Series with the index reset.
    .round()               # Round each value in a Series to the given number of decimals.
    .unique()              # Return unique values of Series object.
    .to_numpy()            # A NumPy ndarray representing the values in this Series or Index.

## The `.describe()` Method

In [92]:
# Generate descriptive statistics.
google.describe()

count    1258.000000
mean      533.709833
std       151.904442
min       279.120000
25%       404.115000
50%       537.470000
75%       654.922500
max       816.680000
Name: Google Stock Price, dtype: float64

## The `.idxmax()` and `.idxmin()` Methods

In [93]:
google.max()

816.68

In [94]:
# Returns the row label of the maximum value.
google.idxmax()

1211

In [95]:
google[1211]

816.68

In [96]:
google.min()

279.12

In [97]:
# Returns the row label of the minimum value.
google.idxmin()

114

In [98]:
google[114]

279.12

In [99]:
# Short hand method for the same operation
google[google.idxmin()]

279.12

## The `.value_counts()` Method

In [100]:
pokemon1 = pd.read_csv("Pokemon.csv", usecols=['Type 1'], squeeze=True)
pokemon1.name = 'Pokemon Type'
pokemon1.head(3)

0    Grass
1    Grass
2    Grass
Name: Pokemon Type, dtype: object

In [101]:
pokemon1.value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Pokemon Type, dtype: int64

In [102]:
pokemon1.count()

800

In [103]:
pokemon1.value_counts().sum()

800

In [104]:
pokemon.value_counts(ascending = True)

Starmie       1
Palpitoad     1
Litwick       1
Shiftry       1
Cleffa        1
             ..
Whirlipede    1
Gothitelle    1
Psyduck       1
Barboach      1
Carbink       1
Name: Name, Length: 800, dtype: int64

## The `.apply()` Method

In [105]:
google.head()

0    325.25
1    331.27
2    329.83
3    328.34
4    322.04
Name: Google Stock Price, dtype: float64

In [106]:
minimum = google.min()
minimum

279.12

In [107]:
maximum = google.max()
maximum

816.68

In [108]:
average = google.mean()
average

533.7098330683625

In [109]:
def classify_stock(number):
    if number >= minimum and number < average:
        return "Below Average!"
    else:
        return "Above Average!"

In [110]:
google.apply(classify_stock).head()

0    Below Average!
1    Below Average!
2    Below Average!
3    Below Average!
4    Below Average!
Name: Google Stock Price, dtype: object

In [111]:
google.head()

0    325.25
1    331.27
2    329.83
3    328.34
4    322.04
Name: Google Stock Price, dtype: float64

In [112]:
google.apply(lambda stock_price : stock_price + stock_price*0.1)

0       357.775
1       364.397
2       362.813
3       361.174
4       354.244
         ...
1253    869.990
1254    869.748
1255    873.070
1256    861.663
1257    861.025
Name: Google Stock Price, Length: 1258, dtype: float64

## The `.map()` Method

In [113]:
google.head()

0    325.25
1    331.27
2    329.83
3    328.34
4    322.04
Name: Google Stock Price, dtype: float64

In [114]:
google.map(lambda x : x + x*0.1)

0       357.775
1       364.397
2       362.813
3       361.174
4       354.244
         ...
1253    869.990
1254    869.748
1255    873.070
1256    861.663
1257    861.025
Name: Google Stock Price, Length: 1258, dtype: float64

In [115]:
google.map(round)

0       325
1       331
2       330
3       328
4       322
       ...
1253    791
1254    791
1255    794
1256    783
1257    783
Name: Google Stock Price, Length: 1258, dtype: int64